@{
    ViewData["Title"] = "Sprint Tasks";
}

<div class="container">
    <div class="py-3">
        <h2>Sprint Tasks</h2>
        <p>Navigation to implemented views:</p>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Home</a>
            <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Greetings">Greetings</a>
            <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="ProductInfo">Product Info</a>
            <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="SuperMarkets">Super Markets</a>
            <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="ShoppingList">Shopping List</a>
            <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="ShoppingCart">Shopping Cart</a>
        </div>
    </div>
</div>